form {
    width: 80%;
    display: table;
    padding: 35px 0 40px 0;
}

legend {
    font-size: larger;
    margin: 10px;
    text-align: left;
}

p {
    display: table-row;
    white-space: nowrap;
}

label {
    display: table-cell;
    text-align: right;
}

input {
    width: 100%;
    display: table-cell;
}

.form-group {
    padding: 10px;
}

.row {
    width: 80%;
    display: table;
}

.row .form-group {
    float: left;
    width: 50%;
}

.btn-submit {
    width: 25%;
    padding-left: 10px;
    display: inline-block;

}

.dropdown-menu {
    display: grid;
    border-collapse: collapse;
    grid-template-columns: 70px 70px 70px 70px 70px;
    background-color: rgb(206, 212, 218);
    position: absolute;
    grid-gap: 0;
    border-radius: 3px;
}

.dropdown-cell {
    padding: 10px;
    border: 1px solid #333333;
    text-align: center;
    font-size: 18px;
}

.form-group .size-btn {
    width: 80px;
    font-size: 18px;
    padding: 5px 5px 5px 10px;
    /* padding-right: 10px;
    padding-left: 10px; */
    border-radius: 5px;
    background-color: rgb(206, 212, 218);
    border: 1px solid #919191;
}

.dropdown-cell:hover, .active {
    background-color: #919191;
}

.no-hover {
    pointer-events: none;
}

.size-t-l {
    border-top-left-radius: 3px;
}

.size-t-r {
    border-top-right-radius: 3px;
}

.size-b-l {
    border-bottom-left-radius: 3px;
}

.size-b-r {
    border-bottom-right-radius: 3px;
}

.button {
    background-color: default;
}

.btn-attribute {
    width: 12%;
    padding-left: 10px;
    display: inline-block;
}

.text {
    font-size: 14px;
}
