form {
    width: 80%;
    display: table;
    padding: 35px 0 40px 0;
}

legend {
    font-size: larger;
    margin: 10px;
    text-align: left;
}

p {
    display: table-row;
    white-space: nowrap;
}

label {
    display: table-cell;
    text-align: right;
}

input {
    width: 100%;
    display: table-cell;
}

.form-group {
    padding: 10px;
}

.row {
    width: 80%;
    display: table;
}

.row .form-group {
    float: left;
    width: 50%;
}

.btn-submit {
    width: 25%;
    padding-left: 10px;
}

.hidden{
    display: none;
}

.show{
    display: inline;
}
