$green: #4db14d;

html {
  box-sizing: border-box;
  color: #333;
  font: 18pt 'Oswald';
  letter-spacing: 0.05em;
}

// Hey look, I learned this trick from Chris Coyier
// https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
* {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.primary-layout, .unauthorized-layout {
  margin: 1em;
}

h1 {
  font-size: 1.3em;
  margin: 0;
}

a {
  text-decoration: none;
  color: blue;
}

button {
  border: none;
  border-radius: 0.3em;
  padding: 0.5em 1em;
  background-color: $green;
  color: #fff;
  cursor: pointer;
  outline: 0;
  font-size: 15pt;
  
  &:focus {
    background-color: darken(#4db14d, 10%)    
  }
  
  &.outline {
    border: 1px solid #999;
    background-color: #fff;
    color: #555;
    &:hover {
      border-color: $green;
      color: $green;
    }
  }
}

.primary-header {
  display: flex;
  nav {
    flex: 1;
    margin-left: 2em;
    border-bottom: 2px solid #555;
    
    a {
      display: inline-block;
      padding: 0.3em 1em;
      color: #555;
      
      &:hover {
        background-color: #eee;
      }
      
      &.active {
        background-color: #555;
        color: #fff;
      }
    }
  }
}

main {
  margin-top: 1em;
}

.user-sub-layout {
  display: flex;
  
  aside {
    width: 200px;
    nav a {
      color: #333;
      padding: 0.2em 1em;
      display: block;
      &.active {
        background-color: #555;
        color: #fff;
      }
    }
  }
  .primary-content {
    flex: 1;
    margin-left: 2em;
  }
}


.mock-browser {
  background-color: #eee;
  border-bottom: 1px solid #ccc;
  padding: 0.3em;
  font: 14pt Arial;
  display: flex;
  
  .path {
    margin-left: 0.5em;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 0.5em;
    flex: 1;
    display: flex;
    color: #999;
    border-radius: 3px;
    
    > div:last-child {
      flex: 1;
    }

    input {
      width: 100%;
      border: none;
      background-color: transparent;
      font-weight: bold;
      font-size: 1em;
      padding: 0;
      outline: none;
      &:focus {
        color: blue;
      }
    }
  }
  
}